source/WSDL/esdk_tp_healthcare.wsdl

<?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="http://smc.huawei.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://smc.huawei.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
<!--###################################### typeDefine Start ######################################-->
<wsdl:types>
<xsd:schema targetNamespace="http://smc.huawei.com/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="scheduleConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="scheduleConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleDynamicSiteConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="scheduleConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleDynamicSiteConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleImmediateConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="scheduleConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleImmediateConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSiteToScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSiteToScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="accessCode" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delSiteFromScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delSiteFromScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="prolongScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="prolongTime" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="prolongScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="editConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryConfSitesStatus">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryConfSitesStatusResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="confSitesStatus" type="tns:ConfSitesStatusMap" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryConferenceStatus">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryConferenceStatusResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceStatus" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="endConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="endConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSiteToConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addSiteToConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delSiteFromConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delSiteFromConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="setAudioSwitch">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="onOff" type="xsd:boolean" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="setAudioSwitchResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryAllSites">
<xsd:complexType>
<xsd:sequence>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="queryAllSitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="sitesInfo" type="tns:SiteInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteByURI">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteByURIResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="siteInfo" type="tns:SiteInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteByName">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteName" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteByNameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="sitesInfo" type="tns:SiteInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteFreeBusy">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySiteFreeBusyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="state" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySitesFreeBusy">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="timeRange" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="querySitesFreeBusyResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="sitesFreeBusyState" type="tns:SitesStatusMap" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ctrlCamera">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="cameraControl" type="tns:CameraControl" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ctrlCameraResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ctrlAuxStream">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="controlCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ctrlAuxStreamResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="micMuteSites">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="isMute" type="xsd:boolean" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="micMuteSitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="spkQuietSites">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="isQuiet" type="xsd:boolean" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="spkQuietSitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="connectSites">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="connectSitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="disconnectSites">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="unbounded" name="siteUris" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="disconnectSitesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LoginRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="userName" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="clientType" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="version" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LoginRequestResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="randomSequence" type="xsd:base64Binary" />
<xsd:element minOccurs="0" maxOccurs="1" name="hashType" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Authenticate">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="encryptPassword" type="xsd:base64Binary" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AuthenticateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Logout">
<xsd:complexType>
<xsd:sequence>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="LogoutResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KeepAlive">
<xsd:complexType>
<xsd:sequence>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="KeepAliveResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:complexType name="ConferenceInfo">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="beginTime" type="xsd:dateTime" />
<xsd:element minOccurs="0" maxOccurs="1" name="duration" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="accessCode" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="chairmanPassword" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="auxVideoFormat" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="cpResouce" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="isLiveBroadcast" type="xsd:boolean" />
<xsd:element minOccurs="0" maxOccurs="1" name="rate" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="isRecording" type="xsd:boolean" />
<xsd:element minOccurs="1" maxOccurs="1" name="presentation" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="unbounded" name="sites" type="tns:SiteInfo" />
<xsd:element minOccurs="0" maxOccurs="1" name="recorderAddr" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SiteInfo">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="uri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="from" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="dialingMode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="rate" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="videoFormat" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CameraControl">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="camState" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="camAction" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="camPos" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="camSrc" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SitesStatusMap">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="siteStatus" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ConfSitesStatusMap">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="siteUri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="confSiteStatus" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

</xsd:schema>
</wsdl:types>

<!--###################################### InterfaceDefine Start ######################################-->
<wsdl:message name="healthcare.scheduleConf">
<wsdl:part name="parameters" element="tns:scheduleConf" /></wsdl:message>
<wsdl:message name="healthcare.scheduleConfResponse">
<wsdl:part name="parameters" element="tns:scheduleConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.scheduleDynamicSiteConf">
<wsdl:part name="parameters" element="tns:scheduleDynamicSiteConf" /></wsdl:message>
<wsdl:message name="healthcare.scheduleDynamicSiteConfResponse">
<wsdl:part name="parameters" element="tns:scheduleDynamicSiteConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.scheduleImmediateConf">
<wsdl:part name="parameters" element="tns:scheduleImmediateConf" /></wsdl:message>
<wsdl:message name="healthcare.scheduleImmediateConfResponse">
<wsdl:part name="parameters" element="tns:scheduleImmediateConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.addSiteToScheduledConf">
<wsdl:part name="parameters" element="tns:addSiteToScheduledConf" /></wsdl:message>
<wsdl:message name="healthcare.addSiteToScheduledConfResponse">
<wsdl:part name="parameters" element="tns:addSiteToScheduledConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.delSiteFromScheduledConf">
<wsdl:part name="parameters" element="tns:delSiteFromScheduledConf" /></wsdl:message>
<wsdl:message name="healthcare.delSiteFromScheduledConfResponse">
<wsdl:part name="parameters" element="tns:delSiteFromScheduledConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.cancelScheduledConf">
<wsdl:part name="parameters" element="tns:cancelScheduledConf" /></wsdl:message>
<wsdl:message name="healthcare.cancelScheduledConfResponse">
<wsdl:part name="parameters" element="tns:cancelScheduledConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.prolongScheduledConf">
<wsdl:part name="parameters" element="tns:prolongScheduledConf" /></wsdl:message>
<wsdl:message name="healthcare.prolongScheduledConfResponse">
<wsdl:part name="parameters" element="tns:prolongScheduledConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.editScheduledConf">
<wsdl:part name="parameters" element="tns:editScheduledConf" /></wsdl:message>
<wsdl:message name="healthcare.editScheduledConfResponse">
<wsdl:part name="parameters" element="tns:editScheduledConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.queryConfSitesStatus">
<wsdl:part name="parameters" element="tns:queryConfSitesStatus" /></wsdl:message>
<wsdl:message name="healthcare.queryConfSitesStatusResponse">
<wsdl:part name="parameters" element="tns:queryConfSitesStatusResponse" /></wsdl:message>
<wsdl:message name="healthcare.queryConferenceStatus">
<wsdl:part name="parameters" element="tns:queryConferenceStatus" /></wsdl:message>
<wsdl:message name="healthcare.queryConferenceStatusResponse">
<wsdl:part name="parameters" element="tns:queryConferenceStatusResponse" /></wsdl:message>
<wsdl:message name="healthcare.endConf">
<wsdl:part name="parameters" element="tns:endConf" /></wsdl:message>
<wsdl:message name="healthcare.endConfResponse">
<wsdl:part name="parameters" element="tns:endConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.addSiteToConf">
<wsdl:part name="parameters" element="tns:addSiteToConf" /></wsdl:message>
<wsdl:message name="healthcare.addSiteToConfResponse">
<wsdl:part name="parameters" element="tns:addSiteToConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.delSiteFromConf">
<wsdl:part name="parameters" element="tns:delSiteFromConf" /></wsdl:message>
<wsdl:message name="healthcare.delSiteFromConfResponse">
<wsdl:part name="parameters" element="tns:delSiteFromConfResponse" /></wsdl:message>
<wsdl:message name="healthcare.setAudioSwitch">
<wsdl:part name="parameters" element="tns:setAudioSwitch" /></wsdl:message>
<wsdl:message name="healthcare.setAudioSwitchResponse">
<wsdl:part name="parameters" element="tns:setAudioSwitchResponse" /></wsdl:message>
<wsdl:message name="healthcare.queryAllSites">
<wsdl:part name="parameters" element="tns:queryAllSites" /></wsdl:message>
<wsdl:message name="healthcare.queryAllSitesResponse">
<wsdl:part name="parameters" element="tns:queryAllSitesResponse" /></wsdl:message>
<wsdl:message name="healthcare.querySiteByURI">
<wsdl:part name="parameters" element="tns:querySiteByURI" /></wsdl:message>
<wsdl:message name="healthcare.querySiteByURIResponse">
<wsdl:part name="parameters" element="tns:querySiteByURIResponse" /></wsdl:message>
<wsdl:message name="healthcare.querySiteByName">
<wsdl:part name="parameters" element="tns:querySiteByName" /></wsdl:message>
<wsdl:message name="healthcare.querySiteByNameResponse">
<wsdl:part name="parameters" element="tns:querySiteByNameResponse" /></wsdl:message>
<wsdl:message name="healthcare.querySiteFreeBusy">
<wsdl:part name="parameters" element="tns:querySiteFreeBusy" /></wsdl:message>
<wsdl:message name="healthcare.querySiteFreeBusyResponse">
<wsdl:part name="parameters" element="tns:querySiteFreeBusyResponse" /></wsdl:message>
<wsdl:message name="healthcare.querySitesFreeBusy">
<wsdl:part name="parameters" element="tns:querySitesFreeBusy" /></wsdl:message>
<wsdl:message name="healthcare.querySitesFreeBusyResponse">
<wsdl:part name="parameters" element="tns:querySitesFreeBusyResponse" /></wsdl:message>
<wsdl:message name="healthcare.ctrlCamera">
<wsdl:part name="parameters" element="tns:ctrlCamera" /></wsdl:message>
<wsdl:message name="healthcare.ctrlCameraResponse">
<wsdl:part name="parameters" element="tns:ctrlCameraResponse" /></wsdl:message>
<wsdl:message name="healthcare.ctrlAuxStream">
<wsdl:part name="parameters" element="tns:ctrlAuxStream" /></wsdl:message>
<wsdl:message name="healthcare.ctrlAuxStreamResponse">
<wsdl:part name="parameters" element="tns:ctrlAuxStreamResponse" /></wsdl:message>
<wsdl:message name="healthcare.micMuteSites">
<wsdl:part name="parameters" element="tns:micMuteSites" /></wsdl:message>
<wsdl:message name="healthcare.micMuteSitesResponse">
<wsdl:part name="parameters" element="tns:micMuteSitesResponse" /></wsdl:message>
<wsdl:message name="healthcare.spkQuietSites">
<wsdl:part name="parameters" element="tns:spkQuietSites" /></wsdl:message>
<wsdl:message name="healthcare.spkQuietSitesResponse">
<wsdl:part name="parameters" element="tns:spkQuietSitesResponse" /></wsdl:message>
<wsdl:message name="healthcare.connectSites">
<wsdl:part name="parameters" element="tns:connectSites" /></wsdl:message>
<wsdl:message name="healthcare.connectSitesResponse">
<wsdl:part name="parameters" element="tns:connectSitesResponse" /></wsdl:message>
<wsdl:message name="healthcare.disconnectSites">
<wsdl:part name="parameters" element="tns:disconnectSites" /></wsdl:message>
<wsdl:message name="healthcare.disconnectSitesResponse">
<wsdl:part name="parameters" element="tns:disconnectSitesResponse" /></wsdl:message>
<wsdl:message name="healthcare.LoginRequest">
<wsdl:part name="parameters" element="tns:LoginRequest" /></wsdl:message>
<wsdl:message name="healthcare.LoginRequestResponse">
<wsdl:part name="parameters" element="tns:LoginRequestResponse" /></wsdl:message>
<wsdl:message name="healthcare.Authenticate">
<wsdl:part name="parameters" element="tns:Authenticate" /></wsdl:message>
<wsdl:message name="healthcare.AuthenticateResponse">
<wsdl:part name="parameters" element="tns:AuthenticateResponse" /></wsdl:message>
<wsdl:message name="healthcare.Logout">
<wsdl:part name="parameters" element="tns:Logout" /></wsdl:message>
<wsdl:message name="healthcare.LogoutResponse">
<wsdl:part name="parameters" element="tns:LogoutResponse" /></wsdl:message>
<wsdl:message name="healthcare.KeepAlive">
<wsdl:part name="parameters" element="tns:KeepAlive" /></wsdl:message>
<wsdl:message name="healthcare.KeepAliveResponse">
<wsdl:part name="parameters" element="tns:KeepAliveResponse" /></wsdl:message>

<!--###################################### portType Start ######################################-->
<wsdl:portType name="TPHealthcare.ConfCtr">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="endConf">
<wsdl:input message="tns:healthcare.endConf"/>
<wsdl:output message="tns:healthcare.endConfResponse"/>
</wsdl:operation>
<wsdl:operation name="addSiteToConf">
<wsdl:input message="tns:healthcare.addSiteToConf"/>
<wsdl:output message="tns:healthcare.addSiteToConfResponse"/>
</wsdl:operation>
<wsdl:operation name="delSiteFromConf">
<wsdl:input message="tns:healthcare.delSiteFromConf"/>
<wsdl:output message="tns:healthcare.delSiteFromConfResponse"/>
</wsdl:operation>
<wsdl:operation name="setAudioSwitch">
<wsdl:input message="tns:healthcare.setAudioSwitch"/>
<wsdl:output message="tns:healthcare.setAudioSwitchResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TPHealthcare.SiteCtr">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="ctrlCamera">
<wsdl:input message="tns:healthcare.ctrlCamera"/>
<wsdl:output message="tns:healthcare.ctrlCameraResponse"/>
</wsdl:operation>
<wsdl:operation name="ctrlAuxStream">
<wsdl:input message="tns:healthcare.ctrlAuxStream"/>
<wsdl:output message="tns:healthcare.ctrlAuxStreamResponse"/>
</wsdl:operation>
<wsdl:operation name="micMuteSites">
<wsdl:input message="tns:healthcare.micMuteSites"/>
<wsdl:output message="tns:healthcare.micMuteSitesResponse"/>
</wsdl:operation>
<wsdl:operation name="spkQuietSites">
<wsdl:input message="tns:healthcare.spkQuietSites"/>
<wsdl:output message="tns:healthcare.spkQuietSitesResponse"/>
</wsdl:operation>
<wsdl:operation name="connectSites">
<wsdl:input message="tns:healthcare.connectSites"/>
<wsdl:output message="tns:healthcare.connectSitesResponse"/>
</wsdl:operation>
<wsdl:operation name="disconnectSites">
<wsdl:input message="tns:healthcare.disconnectSites"/>
<wsdl:output message="tns:healthcare.disconnectSitesResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TPHealthcare.SiteMgr">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="queryAllSites">
<wsdl:input message="tns:healthcare.queryAllSites"/>
<wsdl:output message="tns:healthcare.queryAllSitesResponse"/>
</wsdl:operation>
<wsdl:operation name="querySiteByURI">
<wsdl:input message="tns:healthcare.querySiteByURI"/>
<wsdl:output message="tns:healthcare.querySiteByURIResponse"/>
</wsdl:operation>
<wsdl:operation name="querySiteByName">
<wsdl:input message="tns:healthcare.querySiteByName"/>
<wsdl:output message="tns:healthcare.querySiteByNameResponse"/>
</wsdl:operation>
<wsdl:operation name="querySiteFreeBusy">
<wsdl:input message="tns:healthcare.querySiteFreeBusy"/>
<wsdl:output message="tns:healthcare.querySiteFreeBusyResponse"/>
</wsdl:operation>
<wsdl:operation name="querySitesFreeBusy">
<wsdl:input message="tns:healthcare.querySitesFreeBusy"/>
<wsdl:output message="tns:healthcare.querySitesFreeBusyResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TP.Common">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="LoginRequest">
<wsdl:input message="tns:healthcare.LoginRequest"/>
<wsdl:output message="tns:healthcare.LoginRequestResponse"/>
</wsdl:operation>
<wsdl:operation name="Authenticate">
<wsdl:input message="tns:healthcare.Authenticate"/>
<wsdl:output message="tns:healthcare.AuthenticateResponse"/>
</wsdl:operation>
<wsdl:operation name="Logout">
<wsdl:input message="tns:healthcare.Logout"/>
<wsdl:output message="tns:healthcare.LogoutResponse"/>
</wsdl:operation>
<wsdl:operation name="KeepAlive">
<wsdl:input message="tns:healthcare.KeepAlive"/>
<wsdl:output message="tns:healthcare.KeepAliveResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TPHealthcare.ConfMgr">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="scheduleConf">
<wsdl:input message="tns:healthcare.scheduleConf"/>
<wsdl:output message="tns:healthcare.scheduleConfResponse"/>
</wsdl:operation>
<wsdl:operation name="scheduleDynamicSiteConf">
<wsdl:input message="tns:healthcare.scheduleDynamicSiteConf"/>
<wsdl:output message="tns:healthcare.scheduleDynamicSiteConfResponse"/>
</wsdl:operation>
<wsdl:operation name="scheduleImmediateConf">
<wsdl:input message="tns:healthcare.scheduleImmediateConf"/>
<wsdl:output message="tns:healthcare.scheduleImmediateConfResponse"/>
</wsdl:operation>
<wsdl:operation name="addSiteToScheduledConf">
<wsdl:input message="tns:healthcare.addSiteToScheduledConf"/>
<wsdl:output message="tns:healthcare.addSiteToScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="delSiteFromScheduledConf">
<wsdl:input message="tns:healthcare.delSiteFromScheduledConf"/>
<wsdl:output message="tns:healthcare.delSiteFromScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="cancelScheduledConf">
<wsdl:input message="tns:healthcare.cancelScheduledConf"/>
<wsdl:output message="tns:healthcare.cancelScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="prolongScheduledConf">
<wsdl:input message="tns:healthcare.prolongScheduledConf"/>
<wsdl:output message="tns:healthcare.prolongScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="editScheduledConf">
<wsdl:input message="tns:healthcare.editScheduledConf"/>
<wsdl:output message="tns:healthcare.editScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="queryConfSitesStatus">
<wsdl:input message="tns:healthcare.queryConfSitesStatus"/>
<wsdl:output message="tns:healthcare.queryConfSitesStatusResponse"/>
</wsdl:operation>
<wsdl:operation name="queryConferenceStatus">
<wsdl:input message="tns:healthcare.queryConferenceStatus"/>
<wsdl:output message="tns:healthcare.queryConferenceStatusResponse"/>
</wsdl:operation>
</wsdl:portType>

<!--###################################### binding Start ######################################-->
<wsdl:binding name="TPHealthcare.ConfCtrbinding" type="tns:TPHealthcare.ConfCtr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="endConf">
<soap:operation soapAction="http://smc.huawei.com/endConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addSiteToConf">
<soap:operation soapAction="http://smc.huawei.com/addSiteToConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="delSiteFromConf">
<soap:operation soapAction="http://smc.huawei.com/delSiteFromConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="setAudioSwitch">
<soap:operation soapAction="http://smc.huawei.com/setAudioSwitch" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TPHealthcare.SiteCtrbinding" type="tns:TPHealthcare.SiteCtr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ctrlCamera">
<soap:operation soapAction="http://smc.huawei.com/ctrlCamera" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ctrlAuxStream">
<soap:operation soapAction="http://smc.huawei.com/ctrlAuxStream" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="micMuteSites">
<soap:operation soapAction="http://smc.huawei.com/micMuteSites" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="spkQuietSites">
<soap:operation soapAction="http://smc.huawei.com/spkQuietSites" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="connectSites">
<soap:operation soapAction="http://smc.huawei.com/connectSites" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="disconnectSites">
<soap:operation soapAction="http://smc.huawei.com/disconnectSites" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TPHealthcare.SiteMgrbinding" type="tns:TPHealthcare.SiteMgr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="queryAllSites">
<soap:operation soapAction="http://smc.huawei.com/queryAllSites" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="querySiteByURI">
<soap:operation soapAction="http://smc.huawei.com/querySiteByURI" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="querySiteByName">
<soap:operation soapAction="http://smc.huawei.com/querySiteByName" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="querySiteFreeBusy">
<soap:operation soapAction="http://smc.huawei.com/querySiteFreeBusy" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="querySitesFreeBusy">
<soap:operation soapAction="http://smc.huawei.com/querySitesFreeBusy" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TP.Commonbinding" type="tns:TP.Common">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LoginRequest">
<soap:operation soapAction="http://smc.huawei.com/LoginRequest" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Authenticate">
<soap:operation soapAction="http://smc.huawei.com/Authenticate" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Logout">
<soap:operation soapAction="http://smc.huawei.com/Logout" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="KeepAlive">
<soap:operation soapAction="http://smc.huawei.com/KeepAlive" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="TPHealthcare.ConfMgrbinding" type="tns:TPHealthcare.ConfMgr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="scheduleConf">
<soap:operation soapAction="http://smc.huawei.com/scheduleConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="scheduleDynamicSiteConf">
<soap:operation soapAction="http://smc.huawei.com/scheduleDynamicSiteConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="scheduleImmediateConf">
<soap:operation soapAction="http://smc.huawei.com/scheduleImmediateConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="addSiteToScheduledConf">
<soap:operation soapAction="http://smc.huawei.com/addSiteToScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="delSiteFromScheduledConf">
<soap:operation soapAction="http://smc.huawei.com/delSiteFromScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="cancelScheduledConf">
<soap:operation soapAction="http://smc.huawei.com/cancelScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="prolongScheduledConf">
<soap:operation soapAction="http://smc.huawei.com/prolongScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="editScheduledConf">
<soap:operation soapAction="http://smc.huawei.com/editScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="queryConfSitesStatus">
<soap:operation soapAction="http://smc.huawei.com/queryConfSitesStatus" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="queryConferenceStatus">
<soap:operation soapAction="http://smc.huawei.com/queryConferenceStatus" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<!--###################################### binding end ######################################-->
<wsdl:service name="eSDKService"><wsdl:port binding="tns:TPHealthcare.ConfCtrbinding" name="TPHealthcare.ConfCtr">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
<wsdl:port binding="tns:TPHealthcare.SiteCtrbinding" name="TPHealthcare.SiteCtr">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
<wsdl:port binding="tns:TPHealthcare.SiteMgrbinding" name="TPHealthcare.SiteMgr">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
<wsdl:port binding="tns:TP.Commonbinding" name="TP.Common">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
<wsdl:port binding="tns:TPHealthcare.ConfMgrbinding" name="TPHealthcare.ConfMgr">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>