source/WSDL/esdk_tp_oa_server.wsdl

<?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="esdk_tp_oa_server" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="esdk_tp_oa_server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
<!--###################################### typeDefine Start ######################################-->
<wsdl:types>
<xsd:schema targetNamespace="esdk_tp_oa_server" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="scheduleConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="scheduleConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleRecurrenceConference">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="scheduleConf" type="tns:RecurrenceConfInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="scheduleRecurrenceConferenceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="recurrenceConfInfo" type="tns:RecurrenceConfInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="editConf" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="conferenceInfo" type="tns:ConferenceInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editRecurrenceConference">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="editConf" type="tns:RecurrenceConfInfo" />
<xsd:element minOccurs="0" maxOccurs="1" name="beginTime" type="xsd:dateTime" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="editRecurrenceConferenceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="recurrenceConfInfo" type="tns:RecurrenceConfInfo" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delScheduledConf">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="beginTime" type="xsd:dateTime" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="delScheduledConfResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="resultCode" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:complexType name="ConferenceInfo">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="confId" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="beginTime" type="xsd:dateTime" />
<xsd:element minOccurs="0" maxOccurs="1" name="duration" type="xsd:duration" />
<xsd:element minOccurs="0" maxOccurs="1" name="accessCode" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="chairmanPassword" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="mediaEncryptType" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="auxVideoFormat" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="auxVideoProtocol" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="cpResouce" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="rate" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="isRecording" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="recorderAddr" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="isLiveBroadcast" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="presentation" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="billCode" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="sites" type="tns:SiteInfo" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SiteInfo">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="uri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="from" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="dialingMode" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="rate" type="xsd:string" />
<xsd:element minOccurs="0" maxOccurs="1" name="videoFormat" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="videoProtocol" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RecurrenceConfInfo">
<xsd:complexContent>
<xsd:extension base="tns:ConferenceInfo">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="frequency" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="interval" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="weekDays" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="weekDay" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="monthDay" type="xsd:int" />
<xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:int" />
<xsd:element minOccurs="0" maxOccurs="1" name="endDate" type="xsd:dateTime" />
<xsd:element minOccurs="0" maxOccurs="unbounded" name="siteAccessInfos" type="tns:SiteAccessInfo" />
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="SiteAccessInfo">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="uri" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="confAccessCode" type="xsd:string" />
<xsd:element minOccurs="1" maxOccurs="1" name="beginTime" type="xsd:dateTime" />
<xsd:element minOccurs="0" maxOccurs="1" name="mcuUri" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>

</xsd:schema>
</wsdl:types>

<!--###################################### InterfaceDefine Start ######################################-->
<wsdl:message name="esdk_tp_oa_server.scheduleConf">
<wsdl:part name="parameters" element="tns:scheduleConf" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.scheduleConfResponse">
<wsdl:part name="parameters" element="tns:scheduleConfResponse" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.scheduleRecurrenceConference">
<wsdl:part name="parameters" element="tns:scheduleRecurrenceConference" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.scheduleRecurrenceConferenceResponse">
<wsdl:part name="parameters" element="tns:scheduleRecurrenceConferenceResponse" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.editScheduledConf">
<wsdl:part name="parameters" element="tns:editScheduledConf" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.editScheduledConfResponse">
<wsdl:part name="parameters" element="tns:editScheduledConfResponse" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.editRecurrenceConference">
<wsdl:part name="parameters" element="tns:editRecurrenceConference" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.editRecurrenceConferenceResponse">
<wsdl:part name="parameters" element="tns:editRecurrenceConferenceResponse" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.delScheduledConf">
<wsdl:part name="parameters" element="tns:delScheduledConf" /></wsdl:message>
<wsdl:message name="esdk_tp_oa_server.delScheduledConfResponse">
<wsdl:part name="parameters" element="tns:delScheduledConfResponse" /></wsdl:message>

<!--###################################### portType Start ######################################-->
<wsdl:portType name="TPOA.ConfMgr">
<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings><wsdl:operation name="scheduleConf">
<wsdl:input message="tns:esdk_tp_oa_server.scheduleConf"/>
<wsdl:output message="tns:esdk_tp_oa_server.scheduleConfResponse"/>
</wsdl:operation>
<wsdl:operation name="scheduleRecurrenceConference">
<wsdl:input message="tns:esdk_tp_oa_server.scheduleRecurrenceConference"/>
<wsdl:output message="tns:esdk_tp_oa_server.scheduleRecurrenceConferenceResponse"/>
</wsdl:operation>
<wsdl:operation name="editScheduledConf">
<wsdl:input message="tns:esdk_tp_oa_server.editScheduledConf"/>
<wsdl:output message="tns:esdk_tp_oa_server.editScheduledConfResponse"/>
</wsdl:operation>
<wsdl:operation name="editRecurrenceConference">
<wsdl:input message="tns:esdk_tp_oa_server.editRecurrenceConference"/>
<wsdl:output message="tns:esdk_tp_oa_server.editRecurrenceConferenceResponse"/>
</wsdl:operation>
<wsdl:operation name="delScheduledConf">
<wsdl:input message="tns:esdk_tp_oa_server.delScheduledConf"/>
<wsdl:output message="tns:esdk_tp_oa_server.delScheduledConfResponse"/>
</wsdl:operation>
</wsdl:portType>

<!--###################################### binding Start ######################################-->
<wsdl:binding name="TPOA.ConfMgrbinding" type="tns:TPOA.ConfMgr">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="scheduleConf">
<soap:operation soapAction="esdk_tp_oa_server.scheduleConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="scheduleRecurrenceConference">
<soap:operation soapAction="esdk_tp_oa_server.scheduleRecurrenceConference" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="editScheduledConf">
<soap:operation soapAction="esdk_tp_oa_server.editScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="editRecurrenceConference">
<soap:operation soapAction="esdk_tp_oa_server.editRecurrenceConference" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="delScheduledConf">
<soap:operation soapAction="esdk_tp_oa_server.delScheduledConf" style="document" />
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<!--###################################### binding end ######################################-->
<wsdl:service name="eSDKService"><wsdl:port binding="tns:TPOA.ConfMgrbinding" name="TPOA.ConfMgr">
<soap:address location="http://localhost:8080"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>